/* === NavLink Underline on Hover === */
.navLink {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff7b00;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}
.navItem {
  position: relative;
}

/* === Dropdown Styles === */
/* === Dropdown Initial State === */
.dropdown {
  position: absolute;
  top: 55px;
  left: -400px;
  width: 1320px;
  background-color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.6s ease,
    opacity 0.6s ease,
    visibility 0.6s ease;
  z-index: 50;
}

/* === On Hover === */
.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  max-height: 600px; /* Adjust based on content */
}



.group:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* === Dropdown Grid === */
.dropdownGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  /* padding: 24px; */
}

/* === Dropdown Item === */
.dropdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 50px;
  transition: all 0.3s ease;
  font-size: 12px;
}

.dropdownItem:hover {
  background-color: #274DB9;
  /* transform: translateY(-4px); */
}
.dropdownItem:hover p{
  color: #fff ;
}

.dropdownItem img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  /* transition: transform 0.5s ease; */
  transform-origin: center bottom;
}

.dropdownItem:hover img {
  transform: scale(1.1) translatex(10px) translatey(15px) rotateX(5deg);
}

.dropdownItem h4 {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.dropdownItem p {
  margin-top: 6px;
  font-size: 12px;
  color: #000;
  line-height: 1.4;
}

.PrimaryButton {
  color: #274DB9;
  border: 1px solid #274DB9;
  background-color: white;
  border-radius: 30px;
  padding: 5px 20px;
  font-weight: bold;
  background-image: linear-gradient(to top, #274DB9 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all 0.3s ease;
}

.PrimaryButton:hover {
  background-position: bottom;
  color: white;
}
