
.Section1{
  font-family: "Meta pro" !important;
  
}
.Section1HeroSectionHeading{
  font-size: 50px;
  font-weight:100;
  line-height: 51px;
}
.Section1HeroSectionPara{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}
.Section1CardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 33px;
}
.Section1Card1,
.Section1Card2,
.Section1Card3 {
  width: 100%;
  max-width: 360px;
  height: 240px;
}

.Section1Card1 h3 span,
.Section1Card2 h3 span, 
.Section1Card3 h3 span {
  font-size: 35px ;
  line-height: 27px;
  font-weight: bold;
}

.Section1Card1 p,
.Section1Card2 p,
.Section1Card3 p {
  font-size: 18px ;
  line-height: 27px ;
  font-weight: 400 ;
}

.Section1Card1 {
  background-image: url('../../assets/HerosectionVectorSub1.svg');
  background-repeat: no-repeat;
  background-size: 30% auto;     /* Scales width to 80%, height auto */
  background-position: right 0px top 0px; /* Moves it slightly inward from the right */
  width: 360px;
  height: 240px;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.Section1Card2 {
  background-image: url('../../assets/HerosectionVectorSub2.svg');
  background-repeat: no-repeat;
  background-size: 60% auto;     /* Scales width to 80%, height auto */
  background-position: right 10px top 10px; /* Moves it slightly inward from the right */
  width: 360px;
  height: 240px;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.Section1Card3{
  background-image: url('../../assets/HerosectionVectorSub3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 360px;
  height: 240px;
}
.videoFeatherWrapper {
  position: relative;
  width: 100%;
  max-width: 440px;
  border-radius: 16px;
  overflow: hidden;
  isolation: isolate; /* helps manage blend effect */
}

.videoFeatherWrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.4) 1%,    /* clear center */
    rgba(255, 255, 255, 1) 60%,  /* starts fading */
    rgba(255, 255, 255, 1) 100%, /* heavier fade */
    rgba(255, 255, 255, 1) 100%    /* full white at edge */
  );
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .Section1HeroSectionHeading{
    font-size: 35px;
    line-height: 41px;
    font-weight:300;
  }
  .Section1Card1,
  .Section1Card2,
  .Section1Card3 {
    height: auto;
    padding: 20px;
  }
}
