@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Meta Pro', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-meta: 'Meta Pro', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Thin.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-ThinItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Italic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Medium.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-MediumItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond Xbold';
    src: url('../../public/fonts/meta-pro/MetaPro-CondXbold.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondXbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond Xbold';
    src: url('../../public/fonts/meta-pro/MetaPro-CondXboldItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondXboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-LightItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Light.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-Cond.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond Book';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBook.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond Book';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBookItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondMedium.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBlackItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBlack.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondMediumItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Book';
    src: url('../../public/fonts/meta-pro/MetaPro-BookItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-BoldItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBoldItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Book';
    src: url('../../public/fonts/meta-pro/MetaPro-Book.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro Cond';
    src: url('../../public/fonts/meta-pro/MetaPro-CondBold.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-CondBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Bold.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-Black.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meta Pro';
    src: url('../../public/fonts/meta-pro/MetaPro-BlackItalic.woff2') format('woff2'),
        url('../../public/fonts/meta-pro/MetaPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* ===== Global Font ===== */
body {
  font-family: 'Meta Pro', sans-serif;
}
/* .max-w-screen-xl{
    max-width: 1200px;
}
.max-w-screen-2xl{
    max-width: 1400px;
} */